
@media (max-width: 767px) {
    .container {
        width: 90%;
    }
}
@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 950px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}



/* start header */
@media(min-width:992px){
    header .container .right-side i:nth-child(1){
        display:none;
    }
}
header .container .right-side i:first-child{
    padding-right: 30px;
}

@media(max-width:991px){
    
    header .container .right-side i:nth-child(3){
        display:none;
    }
    header .container .right-side ul {
        display: none;
    }

    header .container .right-side .toggle-menu:hover + ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        right: 0;
        width: 90%;
        background-color: rgba(0 , 0 , 0, .8);
    }
    .container .nav-bar ul li{
        margin-left: 25px;
        padding: 14px;
    }
    .container .nav-bar ul li:last-child{
        border: none;
    }
    
}
/* end header */


/* start landing */
@media (max-width:991px){
    .landing .overlay .container .boxes .box:nth-child(1){
        display: none;
    } 
    .landing .overlay .container .boxes .box:nth-child(3){
        display: none;
    } 
    .landing .overlay .container .boxes{
        justify-content: center;
    }
    .landing .overlay .container .boxes .box {
        justify-content: center;
    }
}
/* end landing */


/* start don't miss section */
@media (max-width:991px) {
    .section-1 .container {
        flex-direction: column;
        align-items: center;
    }
    .section-1 .container .left-section {
        width: 100%;
    }
    .section-1 .container .right-section {
        width: 65%;
        margin-top: 50px;
    }
}
/* end don't miss section */


/* Start middle section */
@media (max-width:991px){
    .mid-section .container .boxes {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 25px;
    }
    .mid-section .container .boxes .box {
        width: 48%;
    }
    .mid-section .container .boxes .box .content button{
        padding: 5px;
    }
    .mid-section .container .boxes .box .content p:nth-child(2){
        font-size: 16px;
        font-weight: 400;
    }
    .mid-section .container .boxes .box .content p:nth-child(3){
        font-size: 12px;
    }
}
/* End middle section */



/* start bottom section */
@media (max-width:991px) {
    .b-section .container .boxes {
        flex-direction: column;
        align-items: center;
    }
    .b-section .container .boxes .l-boxes {
        width: 100%;
    }
    .b-section .container .boxes .r-boxes {
        width: 100%;
        margin-top: 50px;
    }
}

/* end bottom section */


/* start footer */
@media (max-width:991px) {
    footer .sections .section-3 {
        margin-top: 25px;
    }
    footer .sections .section-2{
        width: 35%;
    }

    footer .sections .section-2 p {
        margin-right: 20px;
        display: inline-block;
        padding-top: 30px;
        margin-left: 0 ;
    }
    footer .sections .section-3 input {
        width: 100%;
    }
    
    footer .sections .section1 {
        width: 23%;
    }
    footer .sections .section1 p{
        font-size: 13px;
    }

}
/* end footer */



/* small screen  */

@media(max-width:767px){
    /* section 1  */
    .section-1 .container .t-l-section .top-links {
        flex-direction: column;
        
        
    }
    .section-1 .container .t-l-section .top-links ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 21px;
        width: 81%;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    header .container .right-side i:first-child {
        padding-right: 0px;
    }
    .container .nav-bar h1 a {
        
        padding-left: 0px;
    }
    .section-1 .container .t-l-section .boxes {
        flex-direction: column;  
    }
    .section-1 .container .t-l-section .boxes .left-box {
        width: 100%;
    }
    .section-1 .container .t-l-section .boxes .right-boxes {
        width: 100%;
    }
   
    .left-section .arrows {
        text-align: center;
        padding-top: 30px;
        padding-left: 0px;
    }
    .left-section .arrows i {
        margin-left: 0;
    }
    
    .left-section .arrows i:first-child{
        margin-right: 10px;
    }
    .left-section .arrows i:nth-child(2){
        margin-left: 10px;
    }


    .section-1 .container .b-l-section .top-links {
        flex-direction: column;
    }
    .section-1 .container .b-l-section .top-links h2 {
        width: 100%;
        text-align: center;  
    }
    .section-1 .container .b-l-section .top-links ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 21px;
        width: 81%;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .section-1 .container .b-l-section .boxes .top-boxes {
        flex-direction: column;
    }
    .section-1 .container .b-l-section .boxes .top-boxes {
        flex-direction: column;
    }

    .section-1 .container .b-l-section .boxes .top-boxes .left-box {
        width: 100%;
    }
    .section-1 .container .b-l-section .boxes .top-boxes .right-box {
        width: 100%;
    }
    .section-1 .container .b-l-section .boxes .bottom-boxes {
        flex-direction: column;
    }
    .section-1 .container .b-l-section .boxes .bottom-boxes .left-boxes {
        width: 100%;
    }
    .section-1 .container .b-l-section .boxes .bottom-boxes .right-boxes {
        width: 100%;
    }

    .section-1 .container .right-section {
        width: 90%;
    }
    .mid-section .container .boxes .box {
        width: 90%;
    }
    .b-section .container .boxes .l-boxes .box {
        flex-direction: column;
    }
    footer .sections {
        flex-direction: column;
    }



    footer .sections .section1 {
        width: 100%;
    }
    footer .sections .section1 p{
        font-size: 15px;
    }
    footer .sections .section2 {
        width: 100%;
        margin-top: 70px;
    }
    footer .sections .section-3 {
        margin-top: 70px;
        width: 100%;
    }



}

